* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
}
.navbar {
  display: flex;
  justify-self: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.337);
  padding: 0 5%;
  height: 70px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
}
.logotitle {
  color: white;
  margin-left: 13px;
  letter-spacing: 10px;
  font-size: 40px;
  font-family: "LiSu";
}
.logo img {
  height: 40px;
  width: auto;
}

.nav-links {
  display: flex;
  list-style: none;
  margin-left: auto;
}

.nav-links li {
  margin-left: 20px;
  position: relative;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 16px;
  padding: 10px 20px;
  transition: color 0.3s ease;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 20px;
}

.nav-links a:hover {
  /* color: #4a6cf7; */
  /* background-color: #b59eca; */
  background-color: #675a84;
}
.nav-links a::after {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 20%;
  width: 0;
  height: 2px;
  background-color: #b59eca;
  transition: width 0.3s ease;
}
.nav-links a:hover::after {
  width: 60%;
}

.container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  /* -webkit-overflow-scrolling: touch; */
  /* overscroll-behavior: contain; */
}
section {
  height: 100vh;
  scroll-snap-align: start;
}

.section1 {
  position: relative;
  background-image: url(../image/bgimg1-1.png);
}

/* 以下是侧边导航栏 */
.navdots {
  position: fixed;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.dot {
  display: flex;
  align-items: center;
  margin: 15px 0;
  text-decoration: none;
  color: white;
  flex-direction: row-reverse;
}
.dotcircle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  margin-left: 8px;
}
.dot.active .dotcircle {
  background: white;
}

.dottext {
  font-size: 14px;
  opacity: 0.7;
  transition: opacity 0.3s;
}

.dot.active .dottext {
  opacity: 1;
  font-weight: bold;
}
